
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: rgba(10, 122, 166, 1);
	margin:0px;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Moraine_Lake_17092005.jpg/1024px-Moraine_Lake_17092005.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

header {
	background-color: white;
	text-align: center;
	display: flex;
	align-items: center;
	border-bottom: 3px solid rgba(10, 122, 166, 1);
	opacity: 0.75;
}

header h1 {
	cursor: pointer;
}

h1 {
	margin: auto;
}
/****************************************** 
			LOG IN / REGISTER	
******************************************/

.login-status {
	border: solid 2px navy;
	text-align: center;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 10px;
	background-color: white;
}

.login-status p {
	margin: 4px;
}

.submit-login-info, .submit-user-info {
	margin-top: 5px;
}

.log-out, .login, .register, .submit-login-info, .submit-user-info {
	background-color: green;
	color: white;
	font-size: 14px;
}

.log-out:hover, .log-out:focus,
.login:hover, .login:focus, 
.register:hover, .register:focus,
.submit-login-info:hover, .submit-login-info:focus,
.submit-user-info:hover,.submit-user-info:focus  {
	background-color: darkgreen;
	cursor: pointer;
}
/****************************************** 
				NAV BAR
******************************************/
nav {
	border-top: solid 3px white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background-color: rgba(32, 73, 89, 0.75);
	color: white;
}

.nav-item {
	border-bottom: solid 3px white;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.nav-item:hover, .nav-item:focus {
	cursor: pointer;
	background-color: white;
	color: black;
}

/****************************************** 
				LANDING	
******************************************/

.landing {
	background-color: rgba(10, 122, 166, .8);
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 50px;
}

.landing h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 2em;
}

.landing h2 {
	padding: 20px 0px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

.screenshot {
	max-width: 70%;
	height: auto;
}

/****************************************** 
				TRIP DETAILS	
******************************************/
.recent-trips h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: black;
	background-color: white;
	opacity: 0.85;
	max-width: 600px;
}
.trip, .trip-details {
	border: solid 2px black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border-radius: 3px;
	padding: 10px;
	background-color: white;
	width: 80%;
	opacity: 0.85;
	max-width: 600px;

}

.trip:hover, .trip:focus {
	cursor: pointer;
}

.long-description {
	max-height: 200px;
	overflow: scroll;
}

.make-changes {
	border-top: dotted black 2px;
	padding-top: 10px;
}

.delete-trip, .edit-trip {
	margin: 10px;
	font-size: 15px;
}

.delete-trip:hover, .edit-trip:hover, .delete-trip:focus, .edit-trip:focus {
	background-color: darkgrey;
	cursor: pointer;
}

.recent-trips-results, .trip-details, .post-trip {
	margin-bottom: 50px;
}

/****************************************** 
				FORM STYLES 
******************************************/
main form {
	text-align: center;
	opacity: .90;
}

main form input[type="text"], form input[type="number"] {
	font-size: 20px;
	max-width: 100%;
	border-radius: 8px;
}

main form input[type="text"] {
	width: 300px;
}

main form select {
	font-size: 15px;
	max-width: 100%
}

main form textarea {
	border-radius: 8px;
}

main input[type="number"] {
	font-size: 20px;
	max-width: 50px;
}

main input[type="submit"] {
	font-size: 20px;
	padding: 8px;
	border: 3px solid green;
	border-radius: 5px;
	background-color: green;
	color:white;
}
main input[type="submit"]:hover, main input[type="submit"]:focus {
	background-color: darkgreen;
	border: black solid 3px;
	cursor: pointer;
}

.longlat-hint {
	font-size: 1em;
}

/****************************************** 
				SEARCHING TRIPS 
******************************************/
.search-trips-form {
	margin: 20px;
	display: flex;
	display:hidden;
	flex-direction: column;
	background-color: white;
	border-radius: 5%;
	border: black solid 3px;
}

.search-trips-form label {
	font-size: 20px;
}

.search-trips-form h2 {
	text-align: center;
}
.search-trips-form div {
	padding: 10px;
	background-color: rgba(10, 122, 166, 0.65);
}

.search-trips-form h3 {
	text-align: center;
	background-color: white;
	width: 100%;
	padding: 10px;
	margin:0px;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}

.search-trips-form h3:nth-of-type(1) {
	border-top: solid 4px black;
}
.search-trips-form h3:nth-of-type(6) {
	border-bottom: solid 4px black;
}

.search-trips-form h3:hover, .search-trips-form h3:focus {
	cursor: pointer;
	background-color: rgba(10, 122, 166, 0.25);
}

.submit-search-data {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.no-results {
	background-color: white;
	opacity: 0.85;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	padding: 30px;
	text-align: center;
}
/****************************************** 
			POSTING / EDITING TRIPS
******************************************/
.post-trip h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: black;
	background-color: white;
	opacity: 0.85;
	max-width: 410px;
}

.trip-posting-form, .trip-editing-view {
	margin: 20px;
	padding: 15px;
	border-radius: 5px;
}

.trip-posting-form div, .trip-editing-view div {
	margin: 5px;
	border: 2px solid rgba(10, 122, 166, 0.65);
	padding: 15px;
}

.trip-editing-form, .trip-posting-form {
	background-color: white;
	border-radius: 3px;
}

textarea {
	width: 100%;
}

#submit-trip, .submit-trip-edits {
	font-size: 30px;
	margin: 15px;
}

.name-taken {
	border: red 2px solid;
	padding: 5px;
}

.deleted {
	text-align: center;
}
/****************************************** 
			Registering
******************************************/
.profile {
	background-color: rgba(10, 122, 166, 1);;
	margin: 20px;
	text-align: center;
    padding: 20px;
}


/*****************************	Media Queries	********************************/

/* Desktops and laptops */
@media screen and (min-width : 451px) {
	h1 {
		font-size: 50px;
	}

	header {
		border-top: teal;
	}

	nav {
		flex-direction: row;
		border-right: 3px solid white;
	}

	.nav-item {
		border-left: 3px solid white;
	}

	.landing h1 {
		font-size: 2.5em;
	}

	.landing h2 {
		font-size: 1.75em;
	}

	.landing p {
		font-size: 1.5em;
	}

	.trip {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.trip-details {
		max-width: 500px;
	}

	.trip-posting-form, .trip-editing-form, .search-trips-form {
		max-width: 450px;
		margin-right: auto;
		margin-left: auto;
	}

	.recent-trips-results, .search-results {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

}

/* Wider Desktops and laptops */
@media screen and (min-width : 995px) {
	h1 {
		font-size: 75px;
	}

	.landing p, .landing h1, .landing h2 {
		padding: 40px;
	}

	p.demo {
		padding: 0px;
	}

}

















