
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: rgba(10, 122, 166, 1);
	/*background-color: rgba(10, 122, 166, 0.1);;*/
	margin:0;
}

header {
	/*background-color: rgba(10, 122, 166, 0.5);*/
	background-color: white;
	text-align: center;
	display: flex;
	align-items: center;
}

.recent-trips h2 {
	margin-left: 20px;
}
.trip, .trip-details {
	border: solid 1px navy;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	border-radius: 2%;
	padding: 10px;
	background-color: white;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow: 3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.long-description {
	background-color: lightblue;
}

nav {
	/*margin-top: 10px;*/
	border-top: solid 3px white;
	/*border-right: solid 1px navy;*/
	/*border-left: solid 1px navy;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/*background-color: rgba(10, 122, 166, 0.2);*/
	background-color: rgba(32, 73, 89, 0.75);
	color: white;
}

h1 {
	margin: auto;
}

.login-status {
	border: solid 2px navy;
	text-align: center;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 15px;
	background-color: white;
}

.nav-item {
	border-bottom: solid 3px white;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.nav-item:hover, .nav-item:focus {
	cursor: pointer;
	border: black solid 3px;
}


/****************************************** 
				SEARCHING TRIPS 
******************************************/
.search-trips-form {
	margin: 20px;
	display: flex;
	display:hidden;
	flex-direction: column;
	background-color: white;
	border-radius: 5%;
	border: black solid 3px;
}

.search-trips-form label {
	font-size: 20px;
}

.search-trips-form h2 {
	text-align: center;
}
.search-trips-form div {
	padding: 10px;
	background-color: rgba(10, 122, 166, 0.65);

}

.search-trips-form h3 {
	text-align: center;
	background-color: white;
	width: 100%;
	padding: 10px;
	margin:0px;
	border-top: solid 2px black;
	border-bottom: solid 2px black;

}

.search-trips-form h3:hover, .search-trips-form h3:focus {
	cursor: pointer;
	background-color: rgba(10, 122, 166, 0.25);
}

.search-trips-form input, .search-trips-form select {
	/*max-width: 100px;*/
	
}

.search-trips-form input {
	font-size: 20px;
	width: 300px;
	max-width: 100%;
	border-radius: 8px;
}

.search-trips-form select {
	font-size: 15px;
	max-width: 100%
}

.submit-search-data {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

input[type="number"] {
	font-size: 20px;
	width: 40px;
}


/****************************************** 
				POSTING TRIPS
******************************************/


.trip-posting-form, .trip-editing-view {
	border: 1px solid red;
	margin: 20px;
	padding: 15px;
}

.trip-posting-form div, .trip-editing-view div {
	margin: 5px;
	border: 1px solid green;
	padding: 5px;
}

textarea {
	width: 100%;
}














/*Media Queries*/

